{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
{% endfor %}

<div class="row" style="margin: 2em; padding 1em; display:bloc" >
    <div class="col-8">
    <a href="{{path('app_hackathon')}}" class="btn btn-primary">Retour</a>


        <div class="conteneur" style="margin: 2em; padding 1em; display:flex; align-items: center;" >

            <div>
                <img src="{{leHackathon.image}}" style="weight:auto; height: 45em; margin:5px">
            </div>

            <div class="card-body"> 
                <h4 style="font-weight: bold ">Titre: {{leHackathon.titre}}</h4>
                <p class="card-text"> <p style="font-weight: bold">description:</p> {{leHackathon.description}}</p>
                <p class="card-text" style="display:inline-bloc">commence le: {{leHackathon.date_debut|date('D-M-Y h:m:s')}}</p>
                <p class="card-text" style="display:inline-bloc">fini le: {{leHackathon.date_fin|date('D-M-Y h:m:s')}}</p>
                <p class="card-text" style="display:inline-bloc">localisation: {{leHackathon.rue}}, {{leHackathon.ville}} {{leHackathon.cp}}</p>
                <p class="card-text" style="display:inline-bloc">reste {{nbPlaceRestante}} places sur {{leHackathon.nb_place}}</p>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if inscrit == false %}
                        <a href="{{path('app_hackathon_inscription', {'id': leHackathon.id})}}" ><button type="button" class="btn btn-primary" >Rejoindre Le Hackathon</button></a>
                    {% else %}
                        <a href="{{path('app_hackathon_desinscription', {'id': leHackathon.id})}}" ><button type="button" class="btn btn-danger" >Se Désinscrire</button></a>
                    {% endif %}
                {% else %}
                    pour s'inscrire au hackathon vous devez être connecter
                    <a class="btn btn-warning" href="{{path('app_login')}}">Connexion</a>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
