{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
<!--
<div class="row" style="margin: 2em; padding 1em; display:bloc" >
    <div class="col-8">
    <a href="{{path('app_hackathon')}}" class="btn btn-primary">Retour</a>


        <div class="conteneur" style="margin: 2em; padding 1em; display:flex; align-items: center;" >

            <div>
                <img src="{{leHackathon.image}}" style="weight:auto; height: 45em; margin:5px">
            </div>

            <div class="card-body"> 
                <h4 style="font-weight: bold ">Titre: {{leHackathon.titre}}</h4>
                <p class="card-text"> <p style="font-weight: bold">Resume:</p> {{leHackathon.resume}}</p>
                <p class="card-text" style="display:inline-bloc">premiere diffusion le {{leHackathon.dateDiffusion|date('d-m-Y')}}</p>
                <p class="card-text" style="display:inline-bloc">Possède {{leHackathon.nbEpisodes}} épisodes</p>
                <p class="card-text" style="display:inline-bloc">Pays d'origine: {{leHackathon.lePays.nomPays}}</p>
            </div>
        </div>
    </div>
</div>-->
{% endblock %}