{% extends 'base.html.twig' %}

{% block title %}Hello HackathonController!{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
{% endfor %}



<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px">
    <h1 style="text-decoration:underline">les hackathons :</h1>
</div>



<div style="display: flex; flex-wrap: wrap;">
    {% for Hackathon in lesHackathon %}
        <div class="card" style="margin: 20px; max-width: 300px;">

            <img src="{{Hackathon.image}}" class="card-img-top" alt="img-{{Hackathon.titre}}">
            <div class="card-body">

                <h5 class="card-title"> <h5 style="font-weight: bold">Titre:</h5> {{Hackathon.titre}}</h5>
                <br>
                <a href="{{path('app_hackathon_detail', {'id': Hackathon.id})}}" style="text-align: right">Détail du hackathon</a>

            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
